.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.error-code {
    font-size: 10rem;
    font-weight: bold;
    color: var(--bs-danger);
}

.error-message {
    font-size: 1.75rem;
    color: var(--bs-secondary);
}