<div class="search-container w-100 ms-lg-3 my-3 my-lg-0">
    <form class="d-flex w-100" role="search" action="/" method="GET">
        <input class="form-control" type="search" autocomplete="off" placeholder="Buscar hechos..."
               aria-label="Search" name="textoLibre" minlength="3" value="{{searchTerm}}" required>
        <button id="boton-buscar" class="btn btn-outline-success d-flex align-items-center" type="submit">
            <i class="bi bi-search me-2"></i>Buscar
        </button>
    </form>
</div>